PORT=3090
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=dsh_board
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=dsh_plugin_board
ADMIN_TOKEN=change-me
GITHUB_HTML_BASE=https://kkgithub.com
GITHUB_CLONE_PROXY=https://ghfast.top
TOPIC=dsh-plugin
